 // palette-colors 
$minty-snow: #4BC1BB;
$holiday-red: #C32032;
$holiday-pink: #D92990;
$holiday-green: #97C93C;

// breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

// grid variables 
$pad: 1em;
$halfpad: .5em;
$maxWidth: 980px;
$desktopWidth: 980px;
$tabletWidth: 768px;